@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 225 29 72;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 3px;
}

/* Swiper overrides */
.swiper-pagination-bullet-active {
  background: #e11d48 !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
